.body {
    padding-top: 4em;
}

.indent-level-0 {
    padding-left: 0em;
    font-size: 110%
}

.indent-level-1 {
    padding-left: 2em;
    font-size: 100%
}

.indent-level-2 {
    padding-left: 4em;
    font-size: 90%
}

.indent-level-3 {
    padding-left: 6em;
    font-size: 80%
}
