*~
__pycache__
parser.out
parsetab.py
#
projet/
doc/sphinx/build/
FinancialSimulator/WebApplication/static/bower_components/
FinancialSimulator/WebApplication/static/css/bootstrap.min.css
FinancialSimulator/WebApplication/static/js/bootstrap.min.js
FinancialSimulator/WebApplication/static/js/jquery.min.js
#
open-doc.sh
rsync-vps.sh
setenv.sh
#
FinancialSimulator/Accounting/fr/fec/diff/
FinancialSimulator/Accounting/fr/fec/exemple-bic.xml
FinancialSimulator/Accounting/fr/fec/exemple.xml
FinancialSimulator/Accounting/fr/fec/notes.txt
FinancialSimulator/Accounting/fr/fec/run.sh
FinancialSimulator/Accounting/fr/test.yml
FinancialSimulator/WebApplication/templates/unused/
doc/sphinx/HdlAccountParser_tab.py
doc/sphinx/source/api/FinancialSimulator/Accounting/test-results.rst
doc/sphinx/source/api/FinancialSimulator/HDL/parsetab.rst
doc/sphinx/source/api/FinancialSimulator/HDL/test-parser.rst
doc/sphinx/source/api/FinancialSimulator/WebApplication/test-server.rst
notes/
test-lxml.py
test/test-yaml.py
test/test-yaml2.py
test/tmp.py
trash/
