*~
__pycache__
parser.out
parsetab.py
HdlAccountParser_tab.py

doc/sphinx/build/
share/WebApplication/static/bower_components/
share/WebApplication/static/css/bootstrap.min.css
share/WebApplication/static/js/bootstrap.min.js
share/WebApplication/static/js/jquery.min.js

open-doc.sh
rsync-vps.sh
setenv.sh

share/accounting/fr/fec/diff/
share/accounting/fr/fec/exemple-bic.xml
share/accounting/fr/fec/exemple.xml
share/accounting/fr/fec/notes.txt
share/accounting/fr/fec/run.sh
share/accounting/fr/test.yml
share/WebApplication/templates/unused/
doc/sphinx/source/api/FinancialSimulator/Accounting/test-results.rst
doc/sphinx/source/api/FinancialSimulator/HDL/parsetab.rst
doc/sphinx/source/api/FinancialSimulator/HDL/test-parser.rst
doc/sphinx/source/api/FinancialSimulator/WebApplication/test-server.rst
notes/
test-lxml.py
test/test-yaml.py
test/test-yaml2.py
test/tmp.py
trash/

data/exercice-v0.csv
data/exercice.csv
data/exercice.ods
data/ofx/4342989F0331445589627532.ofx
data/ofx/4342989F0331445589627532.xml
data/ofx/4342989F0331445589975529.csv
db/

# projet/
projet/.gitignore
projet/fec.xml
projet/financial_period.json
projet/transactions/
