.body {
    padding-top: 4em;
}

.indent-level-0 {
    padding-left: 0em;
}

.indent-level-1 {
    padding-left: 2em;
}

.indent-level-2 {
    padding-left: 4em;
}

.indent-level-3 {
    padding-left: 6em;
}
