{# -*- engine: jinja2 -*- #}
{% extends "base.html" %}
{% block body %}
  <ul class="breadcrumb">
    <li><a href="/main">Accueil</a></li>
    <li class="active">{{ account_chart.name }}</li>
  </ul>

  <div class="row">
    <div class="col-xl-12">
      <h1>{{ account_chart.name }}</h1>
      <table class="table table-hover">
	<col style="width:5%">
	<col style="width:50%">
	<col style="width:15%">
	<col style="width:15%">
	<col style="width:15%">
	<thead>
	  <tr>
	    <th>Compte</th>
	    <th>Description</th>
	    <th>Débit</th>
	    <th>Crédit</th>
	    <th>Balance</th>
	  </tr>
	</thead>
	<tbody>
	  {% for account in accounts %}
	    {% if account.system == 'abrégé' or account.system == 'base' %}
	      <tr>
		{% with number = account.number %}
		  <th scope="row"><a href="/main/account/{{ number }}">{{ number }}</a></th>
		{% endwith %}
		<td>{{ account.description }}</td>
		<td class="text-right">{{ account.debit_str }}</td>
		<td class="text-right">{{ account.credit_str }}</td>
		<td class="text-right">{{ account.balance_str }}</td>
	      </tr>
	    {% endif %}
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
{% endblock %}
