{# -*- engine: jinja2 -*- #}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Financial Simulator</title>
  <meta name="description" content="Financial Simulator">
  <meta name="author" content="Fabrice Salvaire">

  <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/financial-simulator.css') }}>
</head>

<body>
  <div class="body">
    {% block body %}{% endblock %}

  <script src={{ url_for('static', filename='js/jquery.min.js') }}></script>
  <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
