{# -*- engine: jinja2 -*- #}
{% extends "base.html" %}
{% block body %}
  <div class="row">
    <div class="col-xl-12">
      <h1>Accounting</h1>
      <ul>
	<li><a href="/main/account_chart">Plan Comptable</a></li>
      </ul>
      <h2>Journals</h2>
      <ul>
	{% for journal in journals %}
	  <li><a href="/main/journal/{{ journal.code }}">{{ journal.name }} ({{ journal.code }})</a></li>
	{% endfor %}
      </ul>
      <h2>Tableaux de synthèse</h2>
      <ul>
 	<li><a href="/main/tableau/resultat">Compte de résultat</a></li>
 	<li><a href="/main/tableau/bilan">Compte de bilan</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
